.tablet{display: none;}
.mobile{display: none;}



/*header*/
#subheaderWrap{
    position: relative;
    height: 115px;
}
#subheaderWrap h2{
    width:84px; 
    height: 62px; 
    margin:0 auto; 
    position: absolute;
    top:50px;
    left:50%;
    margin-left:-42px;

}
#subheaderWrap h2 a{
    width:100%; 
    height: 100%; 
    display: block;
}
#subheaderWrap h2 img{
    width:100%; 
    height: 100%
}




/***********콘텐츠박스 시작*/
#subListContent{}
#subListContent h3{
    text-align: center; 
    margin-bottom: 30px; 
    font-size: 30px;  
    color: #555;
    font-weight: 500;
    margin-top:-4px;
}





/***********탭 ul,li*/
#subListContent ul.tabs {
    list-style: none;
    text-align: center;
    font-size:0;
    width:1000px; 
    border:1px solid #dedede;
    border-radius: 5px;
}

/*탭 li*/
#subListContent ul.tabs li {
    width:33.333%;
    text-align:center;
    cursor: pointer;
    padding:13px 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    font-weight:500;
    display: inline-block;
    font-size:15px;
    border-right:1px solid #dedede;
}

#subListContent ul.tabs li a{color: #444; font-weight: normal;}

#subListContent ul.tabs li.tabOn{
    background:url(../../images/sub/bottomBtnBg.png) no-repeat; 
    background-size: 100% 100%; 
    color:#fff; 
    border-color:#d599ff; 
    box-sizing: border-box; 
    border-radius: 5px 0 0 5px; 
    font-weight: normal;
}


#subListContent ul.tabs li.tab01 {border-right: 0;}
#subListContent ul.tabs li.tab03 {border-right: 0;}


/*
    #subListContent ul.tabs li.active {
        background: #d59fff;
        color: #fff;
        border: 1px solid #d59fff;
    }
*/









/***********리스트,Ul,li*/
.subListBox{}

    .subListBox ul.lists {
        font-size:0;
        width:1000px; 
        margin:0 auto; 
        margin-top:30px;
    }


    li.thum{
        margin-right: 16px;
        width:238px;
        height: 238px;
        position:relative;
        box-sizing: border-box;
        text-align: center;
        cursor:pointer;
    }

    li.thum a{
        position:absolute;
        background:rgba(0,0,0,0);
        display: block;
        width:100%;
        height: 100%;
        color:#fff;
        font-size:15px;
        transition:all 0.3s;
        z-index:10;
    }

    li.thum a span{
        display: none;
    }

    li.thum:nth-child(4n){margin-right: 0;}
    li.thum:nth-child(n+1){margin-bottom: 16px;}
    
    li.thum:hover img{ transform:scale(1.1,1.1)}
    li.thum:hover a{background:rgba(0,0,0,0.5); box-sizing: border-box; transition:.8s all;}
    li.thum a:hover span{ display: block; margin-bottom: 6px; }
    


    /*li안의 이미지*/
    .thumImg{width:100%; height: 100%; overflow: hidden; display: block; }
    .thumImg img{display: block; width:100%; height: 100%; transition:1s all;}


    /*이미지안의 text 꾸밈*/
    .thumText{padding-top:80px; padding-bottom: 140px;}
    .thumText span.thumTitle{font-weight: 500; font-size:16px; text-shadow: 0 0 3px #666;}
    .thumText span.thumBar{width:15px; height: 1px; background: rgba(255,255,255,0.7); margin: 0 auto; transform:rotate(-45deg);}
    .thumText span.thumDate{font-size:13px; font-weight: 400; text-shadow: 0 0 2px #000;}











