@media screen and (max-width:768px){
    .panelarea{display: none;}
    .panelareaM{display: block;}
    .imgBox{width:100%; margin:0 auto;}   
    .imgBox img{width:100%;}   


    /*리스트로돌아가는 닫는버튼*/    
    .closeBtn{width:56px; height: 56px;}



    /*타이틀 꾸밈*/    
    .subTitle{margin:8px 0 20px 0;}
    .subTitle h2{font-size:25px; width:90%; line-height: 29px;}

    .subTitle h2{width:100%;}
    .bottomBtn{width:100%; background-size: 100% 100%;}
    .bottomBtn div{width:33.3333%; border-right:1px solid #fff; box-sizing: border-box;}



    .bottomBtn div{position: static;}  
    .bottomlist{left:0; margin-left:0;}
    .bottomNext{border-right:0;}


    .bottomNext a{
    display: block;
    display: block;
    transition:none;
    }
    .bottomPrev{padding-left:0; text-align: center;}

    .bottomNext{padding-right:0; text-align: center;}

    .bottomPrev a{
    display: block;
    transition:none;
    }
    .bottomPrev a:hover{
    transform:none;}
    .bottomNext a:hover{
    transform:none;}
    .bottomBtn div a{padding:10px 0;}
    .desBox{padding:26px 15px;}
    /*하단 바 버튼꾸밈
    .bottomBtn{width:100%; padding:0; background-size: 100% 100%; padding:15px 0 13px 0;}    
    .bottomBtn div{width:33.333%; height: 100%;}    
    .bottomNext span img{width:11%;}
    .bottomPrev span{padding-left:20px;}
    .bottomNext span{}
    */


    .moDntxt{display: none;}
}

@media screen and (max-width:414px){
    
    .closeBtn{width:60px; height: 60px; margin-top:-8px;}
    
}