    @media screen and (max-width:768px){
    .pc{display: none;}
    .tablet{display: block;}
    .mobile{display: none;}




    /***********콘텐츠박스 시작*/
    #subListContent{}
    #subListContent h3{
        font-size:28px; 
        margin-top:-17px;
        margin-bottom: 27px;
        color:#555;
    }
    #subheaderWrap h2{
        width:76px; 
        height: 53px; 
        left:50%;
        margin-left:-38px;

    }



    /***********탭 ul,li*/
    #subListContent ul.tabs {
        width:100%;
        margin:0 auto;
    }

    /*탭 li*/
    #subListContent ul.tabs li {
        width:33.3333%; 
        margin-right:0; 
        line-height: 50px; 
        font-size: 16px;
        letter-spacing: -1px;
        border-radius: 0; 
        padding:0;
    }

    #subListContent ul.tabs li:first-child {border-right:0;}
    #subListContent ul.tabs li:nth-child(2) {border-right:1px solid #dedede;}




    /***********리스트,Ul,li*/
    .subListBox{
        width:100%;
    }
    .subListBox ul.lists {
        width:100%; 
        margin-top:28px;
    }


    li.thum{
        width:calc(50% - 6px); 
        height:calc(50% - 6px); 
        margin-right: 12px; 
        overflow: hidden;
    }

    li.thum:nth-child(2n+2){margin-right: 0;}
    li.thum:nth-child(n+1){margin-bottom: 12px;}
    li.thum img{width:100%; height: 100%;}


    /*more버튼 원본은 js-load.css*/
    .btn-wrap{margin-top:15px;}
    /*
    .button{width:65px; height: 65px; line-height: 13px; padding-top:14px;}
    */      
}


@media screen and (max-width:414px){    
    #subheaderWrap h2{width:64px; height: 46px; margin-left:-32px;}
    #subListContent h3{
        margin-top:-23px;
        margin-bottom:17px; 
        font-size:24px;}
    .subListBox ul.lists {margin-top:20px;}
    li.thum{width:calc(50% - 5px); height:calc(50% - 5px); margin-right:10px;}
    li.thum:nth-child(n+1) {
        margin-bottom: 10px;}
}