@charset "utf-8";
/* Reset CSS
 * --------------------------------------- */

.tablet{display: none;}    
.moblie{display: none;}    
.section{text-align: center;}


/*첫번째_인트로 페이지*/
    .secfirstPage{   
    position: relative; z-index: -2;
    background: url(../../images/main/bg.jpg) no-repeat;
    background-size:cover; background-position: 10% center;}
    .secfirstPage .shape img{position: absolute; left: 0; top: 0; width:auto; width:100%; height: 100%;}
    .secfirstPage h1{color:#fff; font-weight: normal; line-height: 58px; letter-spacing: -1px; font-size:50px; text-shadow: 0px 0px 3px #888; margin-top:20px;}

    .txt{font-size:40px; font-weight: 300;}


    /*그라데이션bg cover*/
    .secfirstPage img{position: absolute; top:0; left:0; width:100%; height: 100%; }
        

    /*로고 absolute*/
    .secfirstPage div.logo_w{position: absolute; width:98px; height:73px; top:5em; left:5em;}
    .secfirstPage div.logo_sy{position: absolute; width:76px; height:114px; bottom:5em; right:5em;}
    /*서브네비 꾸밈*/
    
    
    .mainContentBox{position: relative; padding-bottom: 30px;}
    .mainContentBox .subNav li{margin:30px; font-size:22px; display:inline-block; color:#fff; margin-top:40px; padding-right: 30px; background: url(../../images/main/sec1_arrow.png) no-repeat; background-position: center right;  width:30px;text-shadow: 0 0 5px #888;}

    .mainContentBox .subNav li.sunNav01{width:100px;}
    .mainContentBox .subNav li.sunNav02{width:66px;}
    .mainContentBox .subNav li.sunNav03{width:86px;}
    .mainContentBox a{display: block; color: #fff;}





/*2번째_포트폴리오 페이지*/
    .slide02{position: relative;}








/*3번째_About페이지 공통*/
    .slide03{position: relative;}
    .sec3rdPage{ color: #fff; position: relative;}


    .sec3rdPage .sd01_title01{position: absolute; left:-38px; z-index: -1; color:#7a7a7a; font-size:30px;}

    .sec3rdPage .sd01_title03{position: absolute; left:50px; z-index: -1; color:#7a7a7a; font-size:30px;}
    .sec3rdPage p span{font-size:27px;}
    .sec3rdPage p{font-size:20px; letter-spacing: 0;}
    .sec3rdPage .sd2_title{margin-bottom: 20px;}



    /*slide01*/
    .sd01_profile{position: relative; width:208px; height: 208px; margin:0 auto; z-index: 0;}
    .sd01_intru{text-align: left; width:580px; height: 255px; margin:0 auto; font-size:14px; margin-top:20px; line-height: 30px;}

    .sd01_intru span{padding-left:20px; font-weight: 500;}
    .sd01_intru span.sd01_moto{margin-right:50px;}
    .sd01_intru span.sd01_speciality{margin-right:17px;}
    .sd01_intru span.sd01_dream{margin-right:29px;}
    .sd01_intru span.sd01_hobby{margin-right:22px;}
    .sd01_intru span.sd01_interest{margin-right:29px;}
    .sd01_intru li{border-bottom: 1px solid #5f5f5f; padding:7px 0;}
    .sd01_intru li.bdT{border-top: 1px solid #5f5f5f;}
    .sd01_dlBox{margin: 0 auto; height: 40px; padding:10px 0; width:366px; font-size: 0;}

    .sd01_dlBox div{
        width:110px; height: 37px; 
        line-height: 37px; border:1px solid #a4a4a4; 
        display: inline-block; font-size:14px; margin-right:12px;
        background: url(../../images/main/download_arrow.png) no-repeat; 
        background-position: 18px 10px;}

    .sd01_dlBox div:hover{border:1px solid #ca98f1;}


    .sd01_dlBox a{
        color: #fff; display: block; padding-left:20px; box-sizing: border-box;}
    .sd01_dlBox div.sd01_download01{width:98px;}
    .sd01_dlBox div.sd01_download02{width:126px;}
    .sd01_dlBox div.sd01_download03{width:98px;}


    /*slide02*/
    .sd02_aboutBox{text-align: left; font-size:13px;}
    .sd02_aboutBox div{width:50%; float:left; padding-left:80px; box-sizing: border-box; margin-top:60px;}
    .sd02_aboutBox .sd02_leftBox{border-right: 1px solid #666; box-sizing: border-box;}
    .slide02 dt{margin-top: 15px; margin-bottom: 3px;font-size:17px; font-weight: 400;}
    .slide02 dd{font-weight: 200;}

    /*slide03*/
    .sd03_leftBox, .sd03_rightBox{width:50%; float: left; position: relative;}
    .sec3rdPage .sd01_title02{position: absolute; left:50%; margin-left:-55px; z-index: -1; color:#7a7a7a; font-size:30px;}




    /*왼쪽박스*/
        /*강점*/
        .sd03_strength{width:auto; text-align: center; margin-bottom: 20px; font-size:0;}
        .sd03_strength p{border-right:1px solid #666; width:100px; display: inline-block; vertical-align: top; font-size:13px; box-sizing: border-box;}
        .sd03_strength p:last-child{border:none;}
        .sd03_strength p span{ height:30px; background: url(../../images/main/sec2_slide3_icon1.png) no-repeat; background-position: center center; display: block; font-size:12px; margin-bottom: 10px;}

        .sd03_strength p span.sd03_ico02{background: url(../../images/main/sec2_slide3_icon2.png) no-repeat; background-position: center center; }
        .sd03_strength p span.sd03_ico03{background: url(../../images/main/sec2_slide3_icon3.png) no-repeat; background-position: center center;}
        .sd03_strength p.wid01{width:118px;}
        .sd03_strength p.wid02{width:112px;}
        .sd03_strength p.wid03{width:120px;}
        .sd03_strength p.wid04{width:100px;}
        .sd03_strength p span.sd03_ico04{background: url(../../images/main/sec2_slide3_icon4.png) no-repeat; background-position: center center; }


        /*아이콘*/
        .sd03_ico01{background: url(../../images/main/sec2_slide3_icon1.png) no-repeat; background-position: center center;}
        .sd03_ico02{background: url(../../images/main/sec2_slide3_icon2.png) no-repeat; background-position: center center;}
        .sd03_ico03{background: url(../../images/main/sec2_slide3_icon3.png) no-repeat; background-position: center center;}
        .sd03_ico04{background: url(../../images/main/sec2_slide3_icon4.png) no-repeat; background-position: center center;}


        /*타이틀*/
        .sd03_leftBox{border-right:1px solid #666; box-sizing: border-box;}
        .sd03_leftBox .title{font-size:50px; border:6px solid #d59fff; width:260px; height: 260px; color: #d59fff; letter-spacing: 10px; padding-left: 9px; padding-top: 9px; box-sizing: border-box; margin: 65px auto; font-weight: 500; margin-top:87px; }

        .sd03_leftBox .title span{width:38px; height: 4px; background:#d59fff; display: inline-block; vertical-align: middle; margin-right:13px; margin-left:5px; margin-top:-9px;}

    /*오른쪽박스*/
    .sd03_rightBox{line-height: 25px; padding-left:25px; box-sizing: border-box;}
    .sd03_rightBox span{display: inline-block; padding:5px 10px; border:2px solid #d59fff; color: #d59fff; border-radius: 9px; margin-right: 10px; font-size:14px; font-weight: 400;}
    .sd03_rightBox p{font-size:13px; text-align: left; margin-top: 20px;}











/*4번째_콘텍트페이지*/


.sec4thPage{color: #fff; background: url(../../images/main/sec4_icon_bg.png); background-size: cover;}
.sec4thPage h1{margin-bottom: 10px;}
.sec4thPage p{color:#333; font-weight: 400;}
.sec4thPage #map{
    width: 1100px;
    height: 400px;
    background-color: gray;
    margin:30px auto;
}
.sec4thPage .contactInfo{vertical-align: top; width:1000px; margin:0 auto;}
.sec4thPage .contactInfo p{display: inline-block; width:30%; font-size:15px; color: #222; height:30px; line-height: 30px;}

.sec4thPage .shape img{position: absolute; right: 0; top:0; width:50%; z-index: 0;}

.sec4thPage .contactInfo span{background-position: center center;  display: block; width:30px; height:30px; display: inline-block; vertical-align: top; margin-right:10px; border:1px solid #fff; border-radius: 50%;}
.sec4thPage .contactInfo span.mail{background: url(../../images/main/sec4_icon_mail.png) no-repeat; }
.sec4thPage .contactInfo span.phone{background: url(../../images/main/sec4_icon_phone.png) no-repeat; }

.sec4thPage .contactInfo span.loca{background: url(../../images/main/sec4_icon_loca.png) no-repeat; }







/*5번째_푸터 페이지*/
    .footer .contactInfo span.loca{background: url(../../images/main/sec4_icon_loca.png) no-repeat; }


    .footer{color:#fff; font-size:13px;}
    .footer{padding:50px 0;}






#slick-items{width:1024px; margin:0 auto;}
#slick-items .slick-slide div{margin:0 10px;}
#slick-items div img{width:100%}

/*
#plist div:last-child{margin-right:0;}*/

/*슬릭관련*/
#slick-items1M{
    display:none;
}
#slick-items2M{
    display:none;
}
#slick-items3M{
    display:none;
}


.panelareaM{display: none;}






/*2번째페이지_포트폴리오*/
.section1{}
.section1 h2{margin-bottom: 2px; font-size: 27px; color: #494949;}
.section1 p.sec1moreVeiw{margin-bottom:28px;
background: url(../../images/main/sec2_arrow.png) no-repeat;
    width:180px;
    letter-spacing: -1px;
    background-position: right center;
    text-align: left;
    margin: 0 auto;
}
.section1 #sec1_slick_container{

    height:430px;
    display: inline-block;
    margin-top:27px;

    box-sizing: border-box;
    
}


    /*탭 ul*/
    .section1 ul.tabs {

        font-size:14px;
        display:block;
        
        margin-bottom:20px;

        font-size: 0;
    }

    /*탭 li*/
    .section1 ul.tabs li {
        border-radius: 8px;
        display: inline-block;
        text-align:center;
        cursor: pointer;
        padding:12px 20px;

        border: 2px solid #d59fff;
        margin-right:10px;
        font-weight: bold;
    font-size: 14px;
        overflow: hidden;
        position: relative;
        font-weight:300;

    }

    .section1 ul.tabs li:hover {
        cursor: pointer;
        background-size: cover;
        color: #333;
        border: 2px solid #d59fff;

    }
    .section1 ul.tabs li.active {
        background: #d59fff;
        background-size: cover;
        color: #fff;

    }

    /*전체 콘테이너박스*/
    .section1 .tab_container {

        clear: both;
        float: left;
        width: 1000px;
        background: #FFFFFF;
    }

    /*각 탭별 콘테이너박스*/
    .section1 .tab_content {

        font-size: 16px;
        display: none;
    }





