/*div이름*/
.my-gallery {
  width: 100%;
  float: left;
}
/*div안의 이미지*/
.my-gallery img {
  width: 100%;
  height: auto;
    display: block;
}
.my-gallery a{

    display: block;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {

  display: none;
}
.pswp__caption__center{text-align: center;}
