@media screen and (max-width:768px){
    
@charset "utf-8";
#wrap{width:100%;}
.inner{width:100%; margin:auto;}
  
body{min-width: 320px;}    

.moDb{display: block;}
.pc{display: none;}
.tablet{display: block;}
    .mobile{display: none;}
.lastMgR0{margin-right: 0;}
/*첫번째_인트로 페이지
    .secfirstPage{   
    position: relative; z-index: -2;
    background: none;
    background-size:cover; background-position: 80% center;}
    .secfirstPage{}
    .secfirstPage .shape img{}

    .secfirstPage h1{font-size:37px; line-height: 55px;}
    .mainContentBox h1 span{line-height: 37px;}
    .txt{font-size:30px; color:#6630b3; text-shadow: none; display: inline-block; font-size: 25px;}
*/
    
    
    .secfirstPage h1{font-size:34px; line-height: 46px;}
    .txt{font-size:38px; font-weight: 200;}

    /*그라데이션bg cover*/
    .secfirstPage img{}
        

    /*로고 absolute*/
    .secfirstPage div.logo_w{width:78px; height: 58px; left:8%; top:7%;}
    .secfirstPage div.logo_sy{width:60px; height:90px; right:8%; bottom: 7%;}
    /*서브네비 꾸밈*/
    
    
    .mainContentBox{padding-bottom: 0;}
    .mainContentBox p{font-size:17px;}

/*
    .mainContentBox p{display: none;}
    .mainContentBox .subNav{text-align: center; margin-top: 40px;}
    .mainContentBox .subNav li{display: block; margin: 20px auto;}
*/
        .mainContentBox .subNav li{font-size:24px;}
    .mainContentBox .subNav li.sunNav01{width:114px;}
    .mainContentBox .subNav li.sunNav02{width:73px;}
    .mainContentBox .subNav li.sunNav03{width:98px;}
    .mainContentBox a{}

    
    
    
    
/*판넬관련*/
    #panel{padding:0;}
    .panelarea{position: absolute; right:0; top:1em; width:35px;}
    .panelarea img{width:100%; height: 100%; margin-top:9px;}


    #panel{padding:0;}
    .panelareaM{position: absolute; right:0; top:1em;}
    .panelareaM img{width:100%; height: 100%; }

    .menuWrap{width:100%; height: 100%; position: relative;}
    .desBox img{
     width:100%;
    }
    .panelarea{display: none;}  
    .panelareaM{display: block;}



    /*네비_흰박스*/
    .sidenav{padding-top:0;}
    .sidenav .closebtn{position: absolute; right:8%; top:4.7%; left:auto; font-size:60px;}


    /*네비 리스트 ul li*/
    #menu li{margin:0;}
    #menu li.me{width:100px; margin:0 auto;}
    .sidenav ul{position: absolute; top:50%; margin-top:-12em; width:100%;}

    
    #panelarea{top:7.5%; right:8%;}
    .panelopacity{display: none;}
    .panelarea{display: none;}

    .panelareaM{display: block;}
    .tab_containerBox{width: 87%; margin:0 auto;}
    
    
    
    /*슬릭관련*/
    #slick-items1{
        display:none;
    }
    #slick-items2{
        display:none;
    }
    #slick-items3{
        display:none;
    }
    
    #slick-items1M{
        display:block;
    }
    #slick-items2M{
        display:block;
    }
    #slick-items3M{
        display:block;
    }
    .slick-next{right:10px;}

    

/*2번째페이지_포트폴리오*/
.section1{}
.section1 h2{font-size:32px; color:#494949;}
.section1 p.sec1moreVeiw{}
.section1 #sec1_slick_container{width:100%; height: auto;}



    .section1 ul.tabs { margin-bottom:10px;
    }



    .section1 ul.tabs li { margin-right: 8px; margin-bottom: 7px; padding: 12px 22px; font-size:16px;
 }
    .section1 ul.tabs li:last-child{margin-right:0;
    }
    .section1 ul.tabs li:hover {
    }
    .section1 ul.tabs li.active {
    }


    .section1 .tab_container { width:100%;
    }

    .section1 .tab_content {
    }






/*4번째_콘텍트페이지*/


.sec4thPage{}
.sec4thPage h1{}
.sec4thPage p{margin-bottom: 0;}
.sec4thPage p.contactText{margin-right:40px; }
.sec4thPage p.contactText:last-child{margin-right:0; }
.sec4thPage #map{width:84%; height: 40%;
    margin:27px auto;}
    .sec4thPage .contactInfo p{width:auto;}   
/*
.sec4thPage .contactInfo{}
.sec4thPage .contactInfo p{width: 90%; border:1px solid #fff; border-radius: 30px; padding:8px 0; font-size:14px; }


 */

.sec4thPage .contactInfo span{margin-right: 5px;}
.sec4thPage .shape img{width: 80%;}
.sec4thPage .contactInfo{width:90%; margin:0 auto;}
.sec4thPage .contactInfo span{}
.sec4thPage .contactInfo span.mail{}
.sec4thPage .contactInfo span.phone{}

.sec4thPage .contactInfo span.loca{}
.sd03_leftBox .title{margin-top:22px; margin-bottom:34px; width:250px; height: 250px; font-size:45px; padding-top:14px; padding-left:14px;}
.sd03_leftBox{ border-right:0;}
.sd03_strength{margin-bottom: 0;}

    
    
    
.sd03_leftBox .title span{width:35px;}
    

    

    
    
   
    
    .sd03_strength p.wid01{}
    .sd03_strength p.wid02{width:120px;}
    .sd03_strength p.wid03{width:128px;}
    .sd03_strength p.wid04{width:118px;}
    .sec3rdPage .sd01_title01{left:0; font-size: 32px; top:-25px;}  

    /*slide01*/
    .sd01_intru{line-height: 40px; margin-top:30px;}
    .sd01_profile{}
    .sd01_profile img{width:100%;}
    .sd01_intru{width:312px; margin-top:24px; height: 210px;}

    .sd01_intru span{font-weight: 400; font-size:13px;}
    .sd01_intru li{padding:4px 0;}
    .sd01_intru li.bdT{}
    .sd01_dlBox{}

    .sd01_dlBox div{
        }

    .sd01_dlBox div:hover{}


    .sd01_dlBox a{}
    .sd01_dlBox div.sd01_download01{}
    .sd01_dlBox div.sd01_download02{}
    .sd01_dlBox div.sd01_download03{}


    /*slide02*/
    .sd02_aboutBox{width: 80%; margin:0 auto;}
    .sd02_aboutBox div{padding-left: 0; margin-top:0;}
    .sd02_aboutBox .sd02_leftBox{text-align: center; width:100%; border-right:0;}
    .sd02_aboutBox div.rightBox{text-align: center; width:100%;}
    .slide02 dt{font-size: 15px;}
    .slide02 dd{font-size: 13px;}

    /*slide03*/
    .sd03_leftBox, .sd03_rightBox{width:100%; padding-left: 0;}
    .sec3rdPage .sd01_title02{margin-bottom: 20px; position: static; left:auto; margin-left: auto; text-align: center; font-size:32px; margin-top:-42px;}
    .sd03_rightBox span.mgR0{margin-right: 0;}
    
    
    .sd03_rightBox p{margin-top:37px; font-size: 12px; text-align: justify;}
    
    .slide03 .aboutBox{width:76%;}
    
/*3번째 버튼관련*/    
.fp-controlArrow {width:25px; height: 42px; }
.fp-controlArrow.fp-prev {
    left: 7%;
}
.fp-controlArrow.fp-next {
    right: 6%;
}
    
.fp-controlArrow.fp-prev {
   background-size: 100%;
}
.fp-controlArrow.fp-next {
   background-size: 100%;
}
    
.fp-slidesNav.bottom {
bottom:7%;
}
    
    
    
    
.mouseBox{padding-top:223px;}
    #topBtn{bottom:60px; right:8%;}    
    
/**/

/* Reset CSS
 * --------------------------------------- */



}
    


@media screen and (max-width:659px){
    .mouseBox{display: none;}
    
    
      
    /*4번째_콘텍트페이지*/


.sec4thPage{}
.sec4thPage h1{}
.sec4thPage p{margin-bottom: 0; font-size:15px;}
.sec4thPage p.contactText{margin-bottom: 10px; font-size:15px;}
.sec4thPage #map{width:90%; height: 30%;
    margin:15px auto; margin-bottom:20px;

}
.sec4thPage .contactInfo{}
.sec4thPage .contactInfo p{width: 100%; border:1px solid #fff; border-radius: 30px; padding:8px 0; font-size:15px; }

.sec4thPage .shape img{display: none;}

.sec4thPage .contactInfo span{border:0;}
.sec4thPage .contactInfo span.mail{}
.sec4thPage .contactInfo span.phone{}

.sec4thPage .contactInfo span.loca{}

    
    
    
}


/*세로 849px*/
@media screen and (max-width:637px){
    
    .slide03 .tablet{display: none;}
    .slide03 .mobile{display: block;}
   
    
    
    /*slide03*/
    .sd03_leftBox, .sd03_rightBox{width:100%; padding-left: 0;}
    .sec3rdPage .sd01_title02{position: static; left:auto; margin-left: auto; text-align: center; margin-top:-45px;}
    .sd03_rightBox span.mgR0{margin-right: 0;}


    .sd03_rightBox p{margin-top:22px; font-size: 12px;}






    .slide03 .aboutBox{width:75%;}

    .sd03_leftBox{border-right:0;}
    .sd03_leftBox, .sd03_rightBox{width:100%;} 
    .sd03_strength{width:100%; margin:0 auto; margin-top:75px; margin-top:0;}
    .sd03_strength p{color:#d59fff; font-weight: 400; font-size:14px;}
    .sd03_strength p.wid01{width:50%;}
    .sd03_strength p.wid02{width:50%; border-right:0;}
    .sd03_strength p.wid03{width:50%;}
    .sd03_strength p.wid04{width:50%;}
    .sd03_strength .hr{width:100%; height: 1px; background: #666; margin:13px 0; display: block;}


    .sd03_strength p{width:50%; padding:10px; 10px;}
    .sd03_strength p:last-child{}
    .sd03_strength p span{margin-bottom:7px;}
    .wid03{display: block;}
    .slide03{}
    .sec3rdPage{}
    .sec3rdPage .sd01_title01{left:-36px; font-size: 32px;}
    .sec3rdPage .sd01_title03{}
    .sec3rdPage p{}
    .sec3rdPage p span{font-size:26px;}
    .sec3rdPage .sd2_title{}
    .sd03_rightBox{font-size:0;}
    .sd03_rightBox span{margin-top:20px;}
    .sd03_rightBox span:last-child{margin-right: 0;}
    
    
    .txt{font-size:32px;}
    .mainContentBox .subNav li{margin:20px; margin-top:44px;}
    .subNav{margin-top:30px;}
}




@media screen and (max-width:520px){
    .sd03_rightBox span:last-child{display: none;}
    .sd03_rightBox span{margin-right:12px}
    .sd03_rightBox span:nth-child(4){margin-right:0;}
}




@media screen and (max-width:507px){
       .secfirstPage{   
    position: relative; z-index: -2;
    background: none;
    background-size:cover; background-position: 80% center;}
    .secfirstPage{}
    .secfirstPage .shape img{}

    .secfirstPage h1{font-size:37px; line-height: 55px;}
    .mainContentBox h1 span{line-height: 37px;}
    .txt{font-size:30px; color:#6630b3; text-shadow: none; display: inline-block; font-size: 25px;}


    /*그라데이션bg cover*/
    .secfirstPage img{}
        

    /*로고 absolute*/
    .secfirstPage div.logo_w{width:78px; height: 58px;}
    .secfirstPage div.logo_sy{width:60px; height:90px;}
    /*서브네비 꾸밈*/
    
    
    .mainContentBox{padding-bottom: 0;}


    .mainContentBox p{display: none;}
    .mainContentBox .subNav{text-align: center; margin-top: 40px;}
    .mainContentBox .subNav li{display: block; margin: 20px auto;}

    .mainContentBox .subNav li.sunNav01{}
    .mainContentBox .subNav li.sunNav02{}
    .mainContentBox .subNav li.sunNav03{}
    .mainContentBox a{}

}